@use '~/assets/fonts/poppins.scss';

:root {
  --color-primary: #746aeb;
  --gap: 1rem;
  --base-font-size: 18px;
}

html,
body {
  font-family:
    'Poppins',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: var(--base-font-size);
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 2160px) {
  :root {
    --base-font-size: 20px;
  }
}

@media (max-width: 1920px) {
  :root {
    --base-font-size: 16px;
  }
}

@media (max-width: 1200px) {
  :root {
    --base-font-size: 14px;
  }
}

@media (max-width: 480px) {
  :root {
    --base-font-size: 16px;
  }
}
